---
import Layout from "../layouts/Layout.astro";
import CharacterList from "../components/CharacterList.astro";
import { getAllCharacters } from "../utils/characters";
import Header from "../components/Header.astro";

const characters = (await getAllCharacters()).filter((char) => char != null);
---

<Layout title="Eliza Characters Database">
  <main>
    <Header />
    <div class="container mx-auto px-4 py-8">
      <CharacterList characters={characters} />
    </div>
  </main>
</Layout>
