---
import type { Character } from "../types/character";
import CharacterCard from "./CharacterCard.astro";

interface Props {
  characters: Character[];
}

const { characters } = Astro.props;

// Remove duplicate filtering since it's already done in index.astro
// Just use the filtered characters passed as props
---

<div
  class="character-list grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
>
  {
    characters.map((character) => (
      <div class="character-item" data-id={character.id}>
        <CharacterCard character={character} />
      </div>
    ))
  }
</div>
