---

---

<footer class="py-6 text-center text-gray-600 dark:text-gray-400">
    <p>
        made by <a
            href="https://x.com/mar1dev"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-gray-900 dark:hover:text-gray-200 font-bold"
            >mar1dev</a
        >
    </p>
</footer>
